body {
    font-family: 'helvetica', sans-serif;
    background-color: #4682b4ee;
}

/*

General styles affecting all pages

*/

* {
    font-size: 20px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 48px;
    background-color: #b0c4deee;
}

h2, h3 {
    background-color: rgba(106, 90, 205, 0.933);
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

img {
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
}

p, li {
    width: 60%;
    margin: 10px auto;
    text-align: justify;
    color: white;
}

/*

Only for home page!

*/

#main-list > li > a, #main-list > li {
    color: red;
    text-decoration: none;
}